[33mcommit fbf42a7448e2b1033512b8d75d72771832991f8a[m[33m ([m[1;36mHEAD -> [m[1;32mmain[m[33m)[m
Author: dali1870 <dalidasy24@gmail.com>
Date:   Mon Sep 19 14:57:54 2022 +0200

    indexss

[33mcommit 6c5875e70e0b7835bac5a492e5c17255c5b23249[m
Author: dali1870 <dalidasy24@gmail.com>
Date:   Mon Sep 19 14:57:13 2022 +0200

    rever et

[33mcommit 8432ad11cf6f3e6414f4a0497a0798ff4fbdce3d[m[33m ([m[1;31morigin/main[m[33m)[m
Author: dali1870 <dalidasy24@gmail.com>
Date:   Mon Sep 19 14:48:18 2022 +0200

    das

[33mcommit ab48903381992f8856f16102079c1d6caf93c0a6[m
Merge: 1c1003f dc1a05d
Author: dali1870 <dalidasy24@gmail.com>
Date:   Mon Sep 19 14:33:33 2022 +0200

    Merge branch 'main' of https://github.com/dali-saymaz/github-egitim

[33mcommit 1c1003fc33004e55e8607408b2be10baf2eab061[m
Author: dali1870 <dalidasy24@gmail.com>
Date:   Mon Sep 19 14:32:33 2022 +0200

    ikinci

[33mcommit 53126ccd6ac34b0190a3451558331580b2c252a9[m
Author: dali1870 <dalidasy24@gmail.com>
Date:   Mon Sep 19 14:31:31 2022 +0200

    week

[33mcommit dc1a05d533df1f8cb34208409f0b76e7ad00646f[m
Author: dali-saymaz <62158766+dali-saymaz@users.noreply.github.com>
Date:   Mon Sep 19 14:25:14 2022 +0200

    Create aws.yml

[33mcommit aa595d912e5fcb18e7a533e9a5fd6769519f5261[m
Author: dali1870 <dalidasy24@gmail.com>
Date:   Mon Sep 19 14:22:47 2022 +0200

    first commit
